.signup {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    min-height: 100dvh;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            width: 100%;
        }
    }
}